*.o
*.lo
Makefile
arm-linux.cache
build/Makefile
build/win32/Makefile
build/win32/dirent/Makefile
build/win32/vs10/Makefile
build/win32/vs11/Makefile
build/win32/vs12/Makefile
build/win32/vs14/Makefile
build/win32/vs9/Makefile
config.h
config.log
config.lt
config.status
docs/Makefile
docs/reference/Makefile
docs/reference/gio/Makefile
docs/reference/glib/Makefile
docs/reference/gobject/Makefile
gio-2.0.pc
gio-unix-2.0.pc
gio-windows-2.0.pc
gio/.deps/
gio/.libs/
gio/Makefile
gio/fam/.deps/
gio/fam/Makefile
gio/gapplication
gio/gdbus
gio/gdbus-2.0/codegen/Makefile
gio/gdbus-2.0/codegen/__init__.pyc
gio/gdbus-2.0/codegen/codegen.pyc
gio/gdbus-2.0/codegen/codegen_docbook.pyc
gio/gdbus-2.0/codegen/codegen_main.pyc
gio/gdbus-2.0/codegen/config.pyc
gio/gdbus-2.0/codegen/dbustypes.pyc
gio/gdbus-2.0/codegen/gdbus-codegen
gio/gdbus-2.0/codegen/parser.pyc
gio/gdbus-2.0/codegen/utils.pyc
gio/gio-public-headers.txt
gio/gio-querymodules
gio/glib-compile-resources
gio/glib-compile-schemas
gio/gnetworking.h
gio/gresource
gio/gsettings
gio/inotify/.deps/
gio/inotify/.libs/
gio/inotify/Makefile
gio/inotify/libinotify.la
gio/kqueue/.deps/
gio/kqueue/Makefile
gio/libgio-2.0.la
gio/tests/.deps/
gio/tests/Makefile
gio/tests/gdbus-object-manager-example/.deps/
gio/tests/gdbus-object-manager-example/Makefile
gio/tests/gdbus-test-codegen-generated-doc-ChangingInterfaceV1.xml
gio/tests/gdbus-test-codegen-generated-doc-ChangingInterfaceV10.xml
gio/tests/gdbus-test-codegen-generated-doc-ChangingInterfaceV2.xml
gio/tests/gdbus-test-codegen-generated-doc-FDPassing.xml
gio/tests/gdbus-test-codegen-generated-doc-Naming.xml
gio/tests/gdbus-test-codegen-generated-doc-OldieInterface.xml
gio/tests/gdbus-test-codegen-generated-doc-TestUglyCaseInterface.xml
gio/tests/gdbus-test-codegen-generated-doc-UnknownXmlTags.xml
gio/tests/gdbus-test-codegen-generated-doc-com.acme.Coyote.xml
gio/tests/gdbus-test-codegen-generated-doc-com.acme.Rocket.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.Authorize.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.Bar.Frobnicator.xm
gio/tests/gdbus-test-codegen-generated-doc-org.project.Bar.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.Bat.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.Baz.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.InlineDocs.xml
gio/tests/gdbus-test-codegen-generated-doc-org.project.MethodThreads.xml
gio/tests/gdbus-test-codegen-generated.c
gio/tests/gdbus-test-codegen-generated.h
gio/tests/giotypefuncs.c
gio/tests/modules/.deps/
gio/tests/modules/Makefile
gio/tests/services/Makefile
gio/tests/services/org.gtk.GDBus.Examples.ObjectManager.service
gio/tests/xgen-gio
gio/tests/xgen-giosrc.c
gio/win32/.deps/
gio/win32/Makefile
gio/xdgmime/.deps/
gio/xdgmime/.libs/
gio/xdgmime/Makefile
gio/xdgmime/libxdgmime.la
glib-2.0.pc
glib-gettextize
glib-zip
glib/.deps/
glib/.libs/
glib/Makefile
glib/glib-public-headers.txt
glib/glibconfig-stamp
glib/glibconfig.h
glib/gnulib/.deps/
glib/gnulib/.libs/
glib/gnulib/Makefile
glib/gnulib/libgnulib.la
glib/gtester
glib/libcharset/.deps/
glib/libcharset/.libs/
glib/libcharset/Makefile
glib/libcharset/charset.alias
glib/libcharset/libcharset.la
glib/libcharset/ref-add.sed
glib/libcharset/ref-del.sed
glib/libglib-2.0.la
glib/libglib-gdb.py
glib/pcre/.deps/
glib/pcre/Makefile
glib/tests/.deps/
glib/tests/Makefile
glib/update-pcre/Makefile
gmodule-2.0.pc
gmodule-export-2.0.pc
gmodule-no-export-2.0.pc
gmodule/.deps/
gmodule/.libs/
gmodule/Makefile
gmodule/gmoduleconf.h
gmodule/libgmodule-2.0.la
gobject-2.0.pc
gobject/.deps/
gobject/.libs/
gobject/Makefile
gobject/glib-genmarshal
gobject/glib-mkenums
gobject/gobject-public-headers.txt
gobject/gobject-query
gobject/libgobject-2.0.la
gobject/libgobject-gdb.py
gobject/tests/.deps/
gobject/tests/Makefile
gthread-2.0.pc
gthread/.deps/
gthread/.libs/
gthread/Makefile
gthread/libgthread-2.0.la
libtool
m4macros/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
tests/.deps/
tests/Makefile
tests/gobject/.deps/
tests/gobject/.libs/
tests/gobject/Makefile
tests/gobject/performance
tests/gobject/performance-threaded
tests/refcount/.deps/
tests/refcount/Makefile

