*.lo
Makefile
alsalisp/.deps/
alsalisp/.libs/
alsalisp/Makefile
alsalisp/alsalisp
alsalisp/alsalisp.o
aserver/.deps/
aserver/.libs/
aserver/Makefile
aserver/aserver
aserver/aserver.o
config.log
config.status
doc/Makefile
doc/doxygen.cfg
doc/pictures/Makefile
include/Makefile
include/alsa
include/asoundlib.h
include/config.h
include/sound/Makefile
include/stamp-h1
include/stamp-vh
include/version.h
libtool
modules/Makefile
modules/mixer/Makefile
modules/mixer/simple/.deps/
modules/mixer/simple/Makefile
src/.deps/
src/.libs/
src/Makefile
src/Versions
src/alisp/.deps/
src/alisp/.libs/
src/alisp/Makefile
src/conf/Makefile
src/conf/alsa.conf.d/Makefile
src/conf/cards/Makefile
src/conf/pcm/Makefile
src/conf/topology/Makefile
src/conf/topology/broadwell/Makef
src/conf/topology/bxtrt298/Makefi
src/conf/topology/sklrt286/Makefi
src/conf/ucm/DAISY-I2S/Makefile
src/conf/ucm/DB410c/Makefile
src/conf/ucm/GoogleNyan/Makefile
src/conf/ucm/Makefile
src/conf/ucm/PAZ00/Makefile
src/conf/ucm/PandaBoard/Makefile
src/conf/ucm/PandaBoardES/Makefil
src/conf/ucm/SDP4430/Makefile
src/conf/ucm/VEYRON-I2S/Makefile
src/conf/ucm/broadwell-rt286/Make
src/conf/ucm/chtrt5645/Makefile
src/conf/ucm/skylake-rt286/Makefi
src/conf/ucm/tegraalc5632/Makefil
src/control/.deps/
src/control/.libs/
src/control/Makefile
src/hwdep/.deps/
src/hwdep/.libs/
src/hwdep/Makefile
src/libasound.la
src/mixer/.deps/
src/mixer/.libs/
src/mixer/Makefile
src/pcm/.deps/
src/pcm/.libs/
src/pcm/Makefile
src/pcm/scopes/.deps/
src/pcm/scopes/Makefile
src/rawmidi/.deps/
src/rawmidi/.libs/
src/rawmidi/Makefile
src/seq/.deps/
src/seq/.libs/
src/seq/Makefile
src/timer/.deps/
src/timer/.libs/
src/timer/Makefile
src/topology/.deps/
src/topology/.libs/
src/topology/Makefile
src/ucm/.deps/
src/ucm/.libs/
src/ucm/Makefile
test/.deps/
test/Makefile
test/lsb/.deps/
test/lsb/Makefile
utils/Makefile
utils/alsa-lib.spec
utils/alsa.pc

