*.o
*.lo
Doxyfile
Makefile
bus/Makefile
bus/dbus-daemon
bus/dbus-daemon-launch-helper
bus/dbus.service
bus/dbus.socket
bus/example-session-disable-stats.conf
bus/example-system-enable-stats.conf
bus/legacy-config/session.conf
bus/legacy-config/system.conf
bus/messagebus
bus/messagebus-config
bus/org.freedesktop.dbus-session.plist
bus/rc.messagebus
bus/session.conf
bus/system.conf
bus/systemd-user/dbus.service
bus/systemd-user/dbus.socket
config.h
config.log
config.status
dbus-1-uninstalled.pc
dbus-1.pc
dbus/Makefile
dbus/Version
dbus/dbus-arch-deps.h
dbus/libdbus-1.la
dbus/libdbus-internal.la
dbus/versioninfo.rc
doc/Makefile
doc/dbus-cleanup-sockets.1.xml
doc/dbus-daemon.1.xml
doc/dbus-launch.1.xml
doc/dbus-monitor.1.xml
doc/dbus-run-session.1.xml
doc/dbus-send.1.xml
doc/dbus-test-tool.1.xml
doc/dbus-update-activation-environment.1.xml
doc/dbus-uuidgen.1.xml
libtool
stamp-h1
test/Makefile
test/data/valid-config-files-system/system.conf
test/data/valid-config-files/session.conf
test/internals/.dirstamp
test/libdbus-testutils.la
test/manual-dir-iter
test/manual-tcp
test/name-test/Makefile
test/test-printf
test/test-shell
tools/Makefile
tools/dbus-cleanup-sockets
tools/dbus-launch
tools/dbus-monitor
tools/dbus-run-session
tools/dbus-send
tools/dbus-test-tool
tools/dbus-update-activation-environment
tools/dbus-uuidgen

