*.o
*.deps
*.lo
*.dirstamp
Makefile
attrib/gatttool
client/bluetoothctl
config.h
config.log
config.status
gdbus/.libs/
gdbus/libgdbus-internal.la
lib/.libs/
lib/bluetooth/
lib/bluez.pc
lib/libbluetooth-internal.la
lib/libbluetooth.la
libtool
monitor/btmon
obexd/src/builtin.h
obexd/src/obexd
src/.libs/
src/bluetooth.service
src/bluetoothd
src/bluetoothd.8
src/builtin.h
src/libshared-glib.la
src/libshared-mainloop.la
stamp-h1
tools/bccmd
tools/bluemoon
tools/bluetooth-player
tools/btmgmt
tools/ciptool
tools/hciattach
tools/hciconfig
tools/hcidump
tools/hcitool
tools/hex2hcd
tools/l2ping
tools/l2test
tools/mpris-proxy
tools/obex-client-tool
tools/obex-server-tool
tools/obexctl
tools/rctest
tools/rfcomm
tools/sdptool
